<div class="logo">
  <img src="/images/noun_Tent_2517.svg" alt="tent image for logo">
  <a href="index.html"> Sleep<span class="highlight">Outside</span></a>
</div>
<div class="cart">
  <a href="cart.html">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <path d="M89.3,28.4c-1.1-1.4-2.8-2.2-4.6-2.2H28.4l-2.9-9.8c-0.7-2.4-2.9-4-5.4-4h-12c-3.3,0-6,2.7-6,6s2.7,6,6,6h8.1l9.8,33.3 c0.7,2.4,2.9,4,5.4,4h35.8c2.5,0,4.7-1.6,5.4-4l7.7-25.9C90.4,31.8,90,29.7,89.3,28.4z M68.1,56.1H35.8l-5.2-17.8h42.5 L68.1,56.1z" fill="currentColor"/>
      <circle cx="38.5" cy="73.5" r="7.5" fill="currentColor"/>
      <circle cx="67.5" cy="73.5" r="7.5" fill="currentColor"/>
    </svg>
  </a>
</div>